#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
  /* background-color: rgba(255, 255, 255, 0.05); */
}

input {
  width: 70px;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin: 0.5rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 400ms, border-color 400ms;
  text-align: center;
}

input:focus {
  outline: none;
  border-color: #646cff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #646cff;
  font-size: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.solve {
  margin-top: 2rem;
}

.error {
  color: red;
  text-decoration: underline;
  font-size: 0.8em;
}
